
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 375px;
    height: 667px;
    /* usaremos um background feito pelo UI designer, então usaremos um background-image para identificar o background */
    background-image: url( /assets/background.jpg);
    background-position: center;
    margin: 0 auto; /* faz ficar no meio da tela*/
}
.logo{
    width: 187px;
    height: 155px;
    margin-top: 256px;
    margin-left: 94px;
    margin-right: 94px;
}
.buttonComecar{
    width: 233px;
    height: 37px;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin-top: 151px;
    margin-left: 71px;
    margin-right: 71px;
    text-align:center;
    font-family: Century Gothic;
    font-weight: bold;
    color: #6542AA;
    border:none;
}
.buttonComecar:hover{
    background-color: #6542AA;
    color: #FFFFFF;
    cursor:pointer;
    transition:0.3s;
    border: 1px solid #272727;
    opacity: 0.8;
}

#containerLogin{
    width: 375px;
    height: 667px;
    background-image: url(/assets/background-login.jpg);
    background-position: center;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.LoginUserImage{
    width: 88px;
    height: 88px;
    margin-top: 52px;
    margin-left: 143px;
    margin-right: 143px;
}

h1{
    font-family: Century Gothic;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
}

#caixaLogin{
    width:289px;
    height:350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
    margin-top: 19px;
    display: block;
    flex-direction:column;
}

#loginButton{
    width: 233px;
    height: 40px;
    background-color:#6542AA;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    margin-top:  20px;
    margin-right: 28px;
    margin-left: 28px;
    
}

#createAccountButton{
    width: 112px;
    height: 17px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: #6542AA solid 1px;
    margin-right: 87px;
    margin-left: 87px;
    margin-top:4px;
    font-size: 11px;
    font-weight: bold;
    color: #6542AA;
    text-align: center;    
}

a{
    font-family: Century Gothic;
    font-size:9px;
    color: #8A8A8A;
    font-weight: normal;
    text-align: center;
    text-decoration:none;
    display: block;
    margin-top: 33px;
}

#UsernameBox, p{
    width:212px;
    height:43px;
    border:solid 1px #6542AA;
    background-color:white;
    border-radius:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    text-align: center;
}

#passwordBox {
    width:212px;
    height:43px;
    border:solid 1px #6542AA;
    background-color:white;
    border-radius:50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

#passwordBox:focus{
    outline:none;
}
#usernameBox:focus{
    outline:none;
}

::placeholder{
      text-align:center;
}

.containerRememberForgot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.containerRememberForgot span{
    font-family: Century Gothic;
    font-size: 10px;
    color: #8A8A8A;
    font-weight: normal;
    display: inline-block;
    margin-top: 24px;
}

.containerRememberForgot input{
    display: inline-block;
    margin-top: 24px;   
    width: 10px;
    height: 10px;
    border: 1px solid #6542AA;
    border-radius: 50%;
    background-color: #FFFFFF;  
    cursor: pointer;
    appearance: none;
}

.containerRememberForgot a{
    font-family: Century Gothic;
    font-size: 10px;
    color: #8A8A8A;
    font-weight: normal;
    display: inline-block;
    margin-top: 24px;
}

.containerRememberForgot input:checked {
    background-color: #6542AA;
    transition: 0.3s;
}
.containerLOGIN{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.containerLOGIN button:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}
