html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    margin:auto;
}

#container{
    width: 375px;
    height: 667px;
    /* usaremos um background feito pelo UI designer, então usaremos um background-image para identificar o background */
    background-image: url( /assets/background-2.jpg);
    background-position: center;
    margin: 0 auto; /* faz ficar no meio da tela*/
}
.logo{
    width: 187px;
    height: 155px;
    margin-top: 256px;
    margin-left: 94px;
    margin-right: 94px;
}
.buttonComecar{
    width: 233px;
    height: 37px;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin-top: 151px;
    margin-left: 71px;
    margin-right: 71px;
    text-align:center;
    font-family: Century Gothic;
    font-weight: bold;
    color: #6542AA;
    border:none;
}
.buttonComecar:hover{
    background-color: #6542AA;
    color: #FFFFFF;
    cursor:pointer;
    transition:0.3s;
    border: 1px solid #272727;
    opacity: 0.8;
}

#containerLogin{
    width: 375px;
    height: 667px;
    background-image: url(/assets/background-2.jpg);
    background-position: center;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.LoginUserImage{
    width: 88px;
    height: 88px;
    margin-top: 52px;
    margin-left: 143px;
    margin-right: 143px;
}

h1{
    font-family: Century Gothic;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
}

#caixaLogin{
    width:289px;
    height:350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
    margin-top: 19px;
    display: block;
    flex-direction:column;
}

#loginButton{
    width: 233px;
    height: 40px;
    background-color:#69239E;
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    margin-top:  20px;
    margin-right: 28px;
    margin-left: 28px;
    
}

#createAccountButton{
    width: 112px;
    height: 17px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: #6542AA solid 1px;
    margin-right: 87px;
    margin-left: 87px;
    margin-top:4px;
    font-size: 11px;
    font-weight: bold;
    color: #6542AA;
    text-align: center;    
}

a{
    font-family: Century Gothic;
    font-size:9px;
    color: #8A8A8A;
    font-weight: normal;
    text-align: center;
    text-decoration:none;
    display: block;
    margin-top: 33px;
}

#UsernameBox, p{
    width:212px;
    height:43px;
    border:solid 1px #6542AA;
    background-color:white;
    border-radius:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    text-align: center;
}

#passwordBox {
    width:212px;
    height:43px;
    border:solid 1px #6542AA;
    background-color:white;
    border-radius:50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

#passwordBox:focus{
    outline:none;
}
#usernameBox:focus{
    outline:none;
}

::placeholder{
      text-align:center;
}

.containerRememberForgot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.containerRememberForgot span{
    font-family: Century Gothic;
    font-size: 10px;
    color: #8A8A8A;
    font-weight: normal;
    display: inline-block;
    margin-top: 24px;
}

.containerRememberForgot input{
    display: inline-block;
    margin-top: 24px;   
    width: 10px;
    height: 10px;
    border: 1px solid #6542AA;
    border-radius: 50%;
    background-color: #FFFFFF;  
    cursor: pointer;
    appearance: none;
}

.containerRememberForgot a{
    font-family: Century Gothic;
    font-size: 10px;
    color: #8A8A8A;
    font-weight: normal;
    display: inline-block;
    margin-top: 24px;
}

.containerRememberForgot input:checked {
    background-color: #6542AA;
    transition: 0.3s;
}
.containerLOGIN{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.containerLOGIN button:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#containerfoto{
    width: 289px;
    height:176px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 23px;
    margin-left: 42.66px;
    margin-right: 42.66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#containercadastro{
    width: 289px;
    height: 353px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-left: 42.66px;
    margin-top: 12px;
}
.buttontudopronto{
    width: 210px;
    height: 33px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px #6542AA;
    margin-top: 18px;
    margin-left: 82px;       
}

.buttontudopronto:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    background-color: #6542AA;
    border: solid 1px #ffffff;
    color: white;
}

.iconetrocarfoto{
    width: 134px;
    height: 134px;
    background-color: #6542AA;
    border-radius: 50%;
    border: solid 1px white;
    outline: solid 3px rgba(30, 30, 30, 0.3);
    outline-offset:5px;
    margin-top: 20px;
    background-image: url(/assets/cameraicon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.iconetrocarfoto:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.buttonSelecionarFoto{
    border: solid 1px #6542AA;
    border-radius: 10px;
    width: 103px;
    height: 21px;
    margin-top: 135px;
    align-items: center;
    text-align: center;
    font-family: Century Gothic;
    font-size:10px;
    color: #6542AA;
    font-weight: bold;
    background-color: white;
    position: absolute;
    margin-top:140px;
}

.buttonSelecionarFoto:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    background-color: #6542AA;
    color: white;
    border: solid 1px #ffffff;
}

#containercadastro {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#formulariocadastro{
    font-family: Century Gothic;
    font-size:15px;
    color: rgb(86, 86, 86);
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#formulariocadastro input{
    width: 251px;
    height: 25px;
    border: solid 1px #c0c0c0;
    border-radius: 10px;
    text-align: center;
}

#formulariocadastro input:focus{
    outline:none;
}

#linha-roxa{
    width: 3px;
    height: 50px;
    background-color: #6542AA;
    margin-left: 66px;
    position: absolute;
    margin-top: 22px;
    margin-left:23px;
}

#caixa-formulario span{
    font-family: Century Gothic;
    font-size: 30px;
    color: #6542AA;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 18px;
}

#caixa-formulario span2{
    font-family: Century Gothic;
    font-size: 10px;
    color: #6542AA;
    font-weight: normal;
    margin-left: 37px;
}

#caixa-formulario {
    background-color: white;
    width: 289.67px;
    height: 360.28px;
    border-radius: 10px;
    border: none;
    display:flex;
    flex-direction: column;
    margin-left: 42.66px;
    margin-right: 42.66px;
    margin-top: 23.8px;
    display: flex;
    flex-direction: column;
}
#formulariocadastro{
    font-family: Century Gothic;
    font-size: 15px;
    margin-top:30px;
    align-items: center;
}

#caixa-formulario input{
    width: 235px;
    margin: auto;
    
}

#buttonTermos{
    width: 278px;
    height: 33.73px;
    border-radius: 10px;
    color:#6542AA;
    font-family: Century Gothic;
    Font-weight: bold;
    font-size: 14px;
    border: none;
    margin-top: 18px;
    margin-left: 48px;
}

#buttonTermos:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    background-color: #00A859;
}

#buttonFinalizar{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 110px;
    background-image: url(/assets/okiconcinza.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#buttonFinalizar:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    background-image: url(/assets/okicon.png);
}

#container-title #foto-perfil{
    border-radius: 50%;
    width:46px;
    height: 46px;
    border: none;
    background-image: url(/assets/home-foto-perfil.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left:25px;
    margin-top: 15.29px;
}

#container-title #foto-perfil:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#container-title span{
    font-family: Century Gothic;
    color:#6542AA;
    font-size: 12px;
    font-weight: bold;
    margin-top:30px;
    position: absolute;
    margin-left: 9px;
}

/* a partir daqui é o css para o visual do app após estar logado */
#container-home{
    width: 375px;
    height: 667px;
    background-color:rgb(255, 255, 255);
    background-position: center;
    border: 1px solid;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
.white-line{
    width: 375px;
    height: 1px;
    background-color: white;
    margin-top: 8px;
    opacity: 0.2;
    
}
/* css pra os botoes */

#button-compras{
    border-radius: 20px;
    width:157px;
    height:157px;
    background-color:white;
    background-position: center;
    background-image: url(/assets/1-lista.png);
    border:1px solid #d2c9eb;
    background-repeat: no-repeat;
    margin-top: 36px;
    margin-left: 26px;
}

#button-compras:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#button-calendario:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#button-limpeza:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#button-filmes:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#button-financas:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#button-receitas:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#button-viagens:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}


#button-calendario{
    border-radius: 20px;
    width:157px;
    height:157px;
    background-color:white;
    background-position: center;
    border:1px solid #d2c9eb;
    background-image: url(/assets/1-calendar.png);
    background-repeat: no-repeat;
    margin-top: 36px;
    margin-left: 7px;
}

#button-limpeza{
    border-radius: 20px;
    width:157px;
    height:157px;
    background-color:white;
    background-position: center;
    border:1px solid #d2c9eb;
    background-image: url(/assets/1-limpeza.png);
    background-repeat: no-repeat;
    margin-top: 13px;
    margin-left: 26px;
}

#button-filmes{
    border-radius: 20px;
    width:157px;
    height:157px;
    background-color:white;
    background-position: center;
    border:1px solid #d2c9eb;
    background-image: url(/assets/1-videos.png);
    background-repeat: no-repeat;
    margin-top: 13px;
    margin-left: 7px;
}

#button-financas{
    border-radius: 20px;
    width:94px;
    height:94px;
    background-image: url(/assets/1-money.png);
    background-position: center;
    border: solid 1px #d2c9eb;
    background-color: white;
    background-repeat: no-repeat;
    margin-left: 33px;
    margin-top: 10px;
}

#button-receitas{
    border-radius: 20px;
    width:94px;
    height:94px;
    background-image: url(/assets/1-food.png);
    background-position: center;
    border:1px solid #d2c9eb;
    background-color: white;
    background-repeat: no-repeat;
    margin-left: 9px;
}

#button-viagens{
    border-radius: 20px;
    width:94px;
    height:94px;
    background-color: white;
    background-image: url(/assets/1-viagens.png);
    background-position: center;
    border:1px solid #d2c9eb;
    background-repeat: no-repeat;
    margin-left: 9px;

}

#container-nav{
    width:355px;
    height:73.56px;
    background-color:white;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    /* codigo para esse container nav ficar no bottom do container "container home" */
    bottom: 0;
  }

#container-nav #home{
    width: 50px;
    height: 50px;
    background-image: url(/assets/apphome.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border:none;
}

#container-nav #calendario{
    width: 50px;
    height: 50px;
    background-image: url(/assets/appcalendar.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border:none;
}

#container-nav #compras{
    width: 50px;
    height: 50px;
    background-image: url(/assets/appcompras.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border:none;
}


#container-nav #filmes{
    width: 50px;
    height: 50px;
    background-image: url(/assets/appfilmes.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border:none;
}

#container-nav #configuracao{
    width: 50px;
    height: 50px;
    background-image: url(/assets/appconfiguracao.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border:none;
}

#container-nav #home:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#container-nav #calendario:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#container-nav #compras:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#container-nav #filmes:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#container-nav #configuracao:hover{
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.linha-branca-vertical{
    width: 1px;
    height: 50px;
    background-color: white;
    opacity: 0.4;
}

#container-home-movies{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container-minha-lista{
    width: 187.5px;
    height: 41.49px;
    background-color: #7B62E4;
    border-end-end-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-minha-lista span{
    color: white;
    font-family: Century Gothic;
    font-weight: bold;
}

#container-movies-list{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
    height: 460px;
}

.linha-horizontal {
    width: 311px;
    height: 1px;
    border: none;
    background-color: #cfcfcf;
    margin-top: 17px;
}

.container-add-movie{
    width:254.33px;
    height:57.9px;
    display:flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-color: #E6E7E8;
    margin: auto;
}

#container-input{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    height: 100%;
    margin-left: 10px;
    
}

#container-input #input-movie-name{
width: 168.47px;
height: 17.81px;
border-radius: 5px;
background-color: white;
border:none;;
}

#container-input #input-movie-platform{
width: 168.47px;
height: 17.81px;
border-radius: 5px;
background-color: white;
border:none;
}

#container-input #button-add-movie{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #A28CFA;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Century Gothic;
    font-size: 80px;
    text-align: center;
    position: absolute;
    margin-left: 192.93px;
}

#container-input #button-add-movie:hover{
    opacity: 0.8;
    transition:0.2s;
    cursor:pointer;
}

#container-input #input-shopping-item{
width: 168.47px;
height: 17.81px;
border-radius: 5px;
background-color: white;
border:none;
}

#container-input #input-item-quantity{
width: 168.47px;
height: 17.81px;
border-radius: 5px;
background-color: white;
border:none;
}

#container-input #button-add-shopping{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #A28CFA;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Century Gothic;
    font-size: 80px;
    text-align: center;
    position: absolute;
    margin-left: 192.93px;
}

#container-input #button-add-shopping:hover{
    opacity: 0.8;
    transition:0.2s;
    cursor:pointer;
}

#container-shopping-list{
    width:100%;
    height: 500.83px;

}
